@model e.mix.repository.Models.Cep

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Cep</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cep1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cep1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logradouro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Logradouro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Complemento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Localidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Localidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ibge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ibge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar para lista</a>
</div>
